<h1 class='text-center'><strong>Tools</strong></h1> 
<hr style="width: 95%; margin: auto; border: 2px solid grey" >
<br>
<h2 class='text-center'>Users</h2>
<br>
<br>



<div class="container d-flex justify-content-center " >
<table class="table" >
    <th scope="col" >User_id</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Username</th>
    <th scope="col">Banned?</th>
    <% if can? :update, User%>
        <th scope="col">ModUpgrade</th>
        <th scope="col"></th>
        <th scope="col">ModDowngrade</th>
    <%end%>
    <th scope="col">Ban</th>
    <th scope="col">Unban</th>
    
<% @users.each do |user| %>
    <tr >
        <th scope="row"><%= user.id %></th>
        <td ><%= user.email %></td>
        <td >
            <% if user.is_moderator? %>
                <%= "M" %>
            <%elsif user.is_default?%>
                <%= "D" %>
            <% else %>
                <%= "A" %>
            <%end%>        
        </td>
        <td ><%= user.username %></td>
        <td ><%= user.banned %></td>
        <% if can? :update, User %>
            <td><%= link_to "update", tools_update_path(:userId => user.id)%><td>
            <td ><%= link_to "downgrade", tools_downgrade_path(:userId => user.id)%></td>
        <% end %>
            <td><%= link_to "ban", tools_ban_path(:userId => user.id)%></td>
            <td><%= link_to "unban", tools_unban_path(:userId => user.id)%></td>
        


    </tr>    
    <br>
        
<%end%>
</table>

</div>
<br>
<div class="container d-flex justify-content-end">
    <p class='text-muted' > Roles: A = Admin, M = Moderator, D = Default</p>
</div>
<br>
<br>
<hr style="width: 95%; margin: auto; border: 2px solid grey" >
<br>


<h2 class='text-center'>Add a Anime</h2>
<%= render 'animes/form', anime: @anime %>


