<h1 class='text-center'><strong>Animes</strong></h1>
<hr style="width: 95%; margin: auto; border: 2px solid grey" >

<% @animes.each do |anime| %>
  <br>
  <br>
  <div class="cardx" style="text-align: center; padding-left: 650px;">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
        <div class="col-md-4">
        <%= link_to anime_path(anime.id) do %>        
            <% if anime.image.attached? %>
              <img src="<%=(url_for(anime.image)) %>" width="170" height="210" alt="" >
            <% else %>
              <p> Nessuna immagine disponibile </p>
            <% end %>
        <% end %>   
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="anime-title"><%= anime.title %></h5>
            <p class="author"><%= anime.author %></p><br>
            <p class="anime-text"><%= anime.descripton %></p>
            <p class="release"><small class="text-muted"><%= anime.release_date %></small></p>
            <%= link_to toggle_favorite_anime_path(anime), remote: true, method: :post do%>
              <%= render 'animes/like_button', anime: anime %>
            <% end %>
            </div>
        </div>
        </div>
    </div>
  </div>
  <br><br>
  <hr style="width: 95%; margin: auto; border: 2px solid grey" >
  
<% end %>

<br>



